<!-- you can add style too if you need =>
 [style]="{
    'background-color': currentStatus === 'online' ? 'green' : 'red',
    [style.color]="'white'" if i write style.property => then i must write property btween ''
}"

 -->
<div [class]="{
   status: true,
   'status-online': currentStatus === 'online',
   'status-offline': currentStatus === 'offline',
   'status-unknown': currentStatus === 'unknown'
 }">
    @if (currentStatus === 'online') {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
    } @else if (currentStatus === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
    } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
    }
</div>